@page "/reservations/details1"
@using Microsoft.EntityFrameworkCore
@using AnyReservationTemp.Domain
@inject IDbContextFactory<AnyReservationTemp.Data.AnyReservationTempContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Reservation</h2>
    <hr />
    @if (reservation is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NumOfCustomer</dt>
            <dd class="col-sm-10">@reservation.NumOfCustomer</dd>
            <dt class="col-sm-2">DateReserved</dt>
            <dd class="col-sm-10">@reservation.DateReserved</dd>
            <dt class="col-sm-2">StartTime</dt>
            <dd class="col-sm-10">@reservation.StartTime</dd>
            <dt class="col-sm-2">EndTime</dt>
            <dd class="col-sm-10">@reservation.EndTime</dd>
            <dt class="col-sm-2">RestaurantId</dt>
            <dd class="col-sm-10">@reservation.RestaurantId</dd>
            <dt class="col-sm-2">CustomerId</dt>
            <dd class="col-sm-10">@reservation.CustomerId</dd>
            <dt class="col-sm-2">TableNo</dt>
            <dd class="col-sm-10">@reservation.TableNo</dd>
            <dt class="col-sm-2">ProgressId</dt>
            <dd class="col-sm-10">@reservation.ProgressId</dd>
            <dt class="col-sm-2">Name</dt>
            <dd class="col-sm-10">@reservation.Name</dd>
            <dt class="col-sm-2">Contact</dt>
            <dd class="col-sm-10">@reservation.Contact</dd>
            <dt class="col-sm-2">EmailAddress</dt>
            <dd class="col-sm-10">@reservation.EmailAddress</dd>
        </dl>
        <div>
            <a href="@($"/reservations/edit?id={reservation.Id}")">Edit</a> |
            <a href="@($"/reservations")">Back to List</a>
        </div>
    }
</div>

@code {
    private Reservation? reservation;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        reservation = await context.Reservation.FirstOrDefaultAsync(m => m.Id == Id);

        if (reservation is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
