@page "/"

<PageTitle>Home</PageTitle>
<div class="image-container">
    <div class="text-overlay">AnyReservation</div>
</div>
@code {

    private string? BrandImage1 { get; set; }
    private string? BrandImage2 { get; set; }
    private string? BrandImage3 { get; set; }
    private string? BrandImage4 { get; set; }
    private string? BrandImage5 { get; set; }
    private string? BrandImage6 { get; set; }
    private string? BrandImage7 { get; set; }

    protected override void OnInitialized()
    {
        BrandImage1 = "/UI photos/KFC-logo.png";
        BrandImage2 = "/UI photos/pizza-hut-logo.png";
        BrandImage3 = "/UI photos/wendys-logo.png";
        BrandImage4 = "/UI photos/wingstop-logo.png";
        BrandImage5 = "/UI photos/chipotle-logo.png";
        BrandImage6 = "/UI photos/restaurant_logo.png";
        BrandImage7 = "/UI photos/hardees-logo.png";

    }
}
<style>
    .marquee {
        width: 100vw; /* --marquee-width */
        height: 20vh; /* --marquee-height */
        color: #eee;
        overflow: hidden;
        position: relative;
    }
    .marquee:before,
    .marquee:after {
        position: absolute;
        top: 0;
        width: 10rem;
        height: 100%;
        content: "";
        z-index: 1;
    }
    .marquee:before {
        left: 0;
        background: linear-gradient(to right, #f5f5f5 0%, transparent 100%);
    }
    .marquee:after {
        right: 0;
        background: linear-gradient(to left, #f5f5f5 0%, transparent 100%);
    }
    .brand-images-marquee {
        list-style: none;
        height: 100%;
        display: flex;
        animation: scrolling calc(12 * 3s) linear infinite; /* --marquee-animation-duration */
    }
    keyframes scrollLeft {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%); 
        }
    }
    .brand-images-marquee li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: calc(100vw / 7); /* --marquee-element-width */
        max-height: 70px;
    }
    }
    media (max-width: 600px) {
        html {
            font-size: 12px;
        }
        .marquee {
            width: 100vw;
            height: 16vh;
        }
        .marquee:before,
        .marquee:after {
            width: 5rem;
        }

        .brand-images-marquee {
        animation: scrolling calc(3 * 3s) linear infinite;
        }
    }
</style>
<div class="marquee">
    <marquee behavior="scroll" direction="left">
    <ul class="brand-images-marquee">
        <li><img src="@BrandImage1" alt="" class="brand" style="max-width: 70px; height: auto;"></li>
        <li><img src="@BrandImage2" alt="" class="brand" style="max-width: 70px; height: auto;"></li>
        <li><img src="@BrandImage3" alt="" class="brand" style="max-width: 70px; height: auto;"></li>
        <li><img src="@BrandImage4" alt="" class="brand" style="max-width: 70px; height: auto;"></li>
        <li><img src="@BrandImage5" alt="" class="brand" style="max-width: 70px; height: auto;"></li>
        <li> <img src="@BrandImage6" alt="" class="brand" style="max-width: 70px; height: auto;"></li>
        <li> <img src="@BrandImage7" alt="" class="brand" style="max-width: 70px; height: auto;"></li>
    </ul>
    </marquee>
 </div>


<body>
   <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel tempus odio. Quisque et lacus convallis, volutpat lacus at, ornare tellus. 
       
       Nullam eleifend lectus ac sodales vulputate. Duis vel massa sagittis, feugiat eros id, auctor nunc. Curabitur hendrerit sollicitudin sapien blandit 
       
       pulvinar. Mauris vel arcu a mauris auctor hendrerit iaculis ut odio. Maecenas ullamcorper eros nec mi placerat molestie. Nunc euismod laoreet odio. 
       
       Integer ac leo rutrum, sagittis dolor non, vulputate tellus. Morbi eu lorem vel est porttitor lobortis.

       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut tellus mauris. Nam interdum viverra lectus, at efficitur tellus molestie ut. 
       
       Cras dapibus commodo accumsan. Nulla faucibus auctor sodales. Donec rhoncus neque urna, in elementum metus luctus quis. Quisque auctor, ipsum ac 
       
       pretium vestibulum, sem purus iaculis ligula, quis faucibus elit nisl a tortor. Nulla aliquam elit ut dui tincidunt suscipit. Suspendisse convallis
       
       ut tortor a varius. Vestibulum et arcu egestas, pellentesque diam sed, fringilla orci. Sed sagittis quam ac nisl auctor malesuada. Nullam sed pretium diam. 
       
       Lorem ipsum dolor sit amet, consectetur adipiscing elit.

       Donec nec nulla sagittis, consectetur nibh eget, posuere nisl. Pellentesque egestas nisi vel efficitur rutrum. Mauris pellentesque congue luctus. Fusce at
       
       mauris imperdiet, iaculis odio eget, lobortis velit. Nunc pretium felis commodo augue aliquet, eu blandit tortor porta. Donec quis rhoncus magna. Mauris et egestas mi, 
       
       vitae pellentesque justo. Proin turpis augue, bibendum at tortor et, consequat aliquet felis.

       Quisque dui eros, consectetur sit amet convallis vel, placerat sit amet tortor. Pellentesque ut gravida sem, vitae elementum magna. Nunc sodales leo et magna mollis pharetra. 
       
       Etiam ipsum sapien, auctor id massa eu, pulvinar tempor magna. Nullam id purus eget turpis porta ullamcorper. Ut volutpat ante ipsum, sed fringilla nulla egestas posuere. 
       
       In pretium tempus leo, sit amet venenatis nulla mattis id. Phasellus sollicitudin interdum arcu et porta. Aliquam porta eros libero, id ornare enim mollis pharetra. 
       
       Pellentesque suscipit lectus quam, ac finibus turpis dignissim ut. Suspendisse nec sem dapibus sapien interdum molestie. Maecenas mauris lacus, auctor sed faucibus in, 
       
       dignissim eget nibh. Cras eleifend magna et pulvinar accumsan.

       Praesent finibus tincidunt tortor, in pulvinar libero fringilla et. Mauris tempus, felis ac rhoncus viverra, dolor sapien sagittis nulla, id tempor quam lectus in dolor. 
       
       Nunc tincidunt dolor odio, quis facilisis odio imperdiet ac. Vivamus iaculis ligula hendrerit lectus ultricies tempus. Cras dignissim accumsan massa eu posuere. 
       
       Praesent molestie gravida risus. Cras dictum lorem dolor, sed condimentum tortor sodales id. Nam a porttitor nibh, vel imperdiet dui. Proin porta velit ipsum, 
       
       ut accumsan ante aliquam nec. Donec facilisis luctus felis in tincidunt. Nam pretium justo sit amet dui finibus, venenatis convallis urna placerat. 
       
       In pellentesque tortor id odio euismod dapibus sit amet at dolor. Fusce tincidunt tristique dui, eu pharetra lacus sodales a.
    </p>

    <h1> Insert Content</h1>
    <h1> Insert Content</h1>
    <h1> Insert Content</h1>
    <h1> Insert Content</h1>
    <h1> Insert Content</h1>
</body>



